<div class="job_listing_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="section_title">
                    <h3 class="section_h3">User Listing</h3>
                </div>
            </div>
        </div>
        <div class="job_lists">
            <div class="row">
                <tr *ngFor="let user of userList">
                <div class="col-lg-12 col-md-12">
                    <div class="single_jobs white-bg d-flex justify-content-between">
                       
                        <div class="jobs_left d-flex align-items-center">
                            <div class="jobs_conetent">
                                <a ><h4>Name: {{user.name}}</h4></a>
                                <div class="location">
                                    <p> <i class="fa fa-clock-o"></i> Email: {{user.Email}}</p>
                                </div>                               
                            </div>
                        </div>
                    </div>
                </div>
                </tr>
            </div>
        </div>
    </div>
</div>
