<div class="container" >
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="card">
  
          <table class="table">
            <thead>
              <tr>
  
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Cron Param</th>
                <th scope="col">Last Time Run</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sub of googleList">
                <td>{{sub.id}}</td>
                <td>{{sub.name}}</td>
                <td>{{sub.description}}</td>
                <td>{{sub.cronParam}}</td>
                <td>{{sub.lastRunTime}}</td>
                <td> 
                  <form  (ngSubmit)="onSubmitDeleteGoogleSub(sub.id)"> 
                    <button type="submit" class="btn btn-primary" >Delete</button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  
      </div>
    </div>
  </div>

  <div class="container" >
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="card">
  
          <table class="table">
            <thead>
              <tr>
  
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Cron Param</th>
                <th scope="col">Last Time Run</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sub of wheatherList">
                <td>{{sub.id}}</td>
                <td>{{sub.name}}</td>
                <td>{{sub.description}}</td>
                <td>{{sub.cronParam}}</td>
                <td>{{sub.lastRunTime}}</td>
                <td> 
                  <form  (ngSubmit)="onSubmitDeleteGWheatherSub(sub.id)"> 
                    <button type="submit" class="btn btn-primary" >Delete</button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  
      </div>
    </div>
  </div>

  <div class="container" >
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="card">
  
          <table class="table">
            <thead>
              <tr>
  
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Cron Param</th>
                <th scope="col">Last Time Run</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sub of footballList">
                <td>{{sub.id}}</td>
                <td>{{sub.name}}</td>
                <td>{{sub.description}}</td>
                <td>{{sub.cronParam}}</td>
                <td>{{sub.lastRunTime}}</td>
                <td> 
                  <form  (ngSubmit)="onSubmitDeleteFootballSub(sub.id)"> 
                    <button type="submit" class="btn btn-primary" >Delete</button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  
      </div>
    </div>
  </div>
